/target
**/target/debug/*
**/target/release/*
**/target/rls/*
**/target/wasm32-unknown-unknown/*
**/target/.rustc_info.json
**/*.rs.bk
Cargo.lock
CACHEDIR.TAG
bin/
pkg/
wasm-pack.log
www/node_modules
www/dist
**/connection-string.fn
**/error.log