AddType application/wasm .wasm
AddHandler cgi-script .cgi
Options +ExecCGI

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<FilesMatch api$>
    SetHandler cgi-script
</FilesMatch>

SetEnv SESSION_ID_SALT DEADBEEFDEADBEEFDEADBEEFDEADBEEFDEADBEEFDEADBEEFDEADBEEFDEADBEEF
